body {
    background-color: #343434;
}

* {
    color: #fcfcfc;
    font-family: sans-serif;
}

a{
    color: rgb(150,150,255);
    transition: .2s ease;
}

a:hover{
    cursor: pointer;
    transform: scale(1.2);
}

a:active{
    cursor: pointer;
    transform: scale(.9);
}

input, select{
    color: #343434 !important;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

option{
    color: #343434 !important;
}

button{
    margin: 2px 5px;
    padding: 7px 13px;
    border: none;
    background-color: rgb(110,155,110);
    transition: .1s ease;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(140,190,140);
}

button:active{
    transform: scale(.9);
    background-color: rgb(90,150,90);
}

.warning{
    color: red !important;
}

.readonly{
    background-color: #a3a3a3;
}

.readonly:hover{
    cursor: default;
}

#back {
    color: #cc3333 !important;
}

.add {
    color: #33cc33 !important;
}